@page "/"
@using BlazorApp.Data;

<PageTitle>Index</PageTitle>

@*<PersonCard Foto="../Person_placeholder_man.jpg" Organisatie="Florisoft" ID="2" Functie="Web development" Email="MartijnvdSteen@florisoft.nl"></PersonCard>

<PersonCard Foto="../Person_placeholder_man.jpg" Organisatie="Florisoft"  ID="12" Functie="Web development" Email="HenkvanDijk@florisoft.nl"></PersonCard>

<PersonCard Foto="../Person_placeholder_man.jpg" Organisatie="Florisoft"  ID="76" Functie="Consultant" Email="JorisdeJong@florisoft.nl"></PersonCard>

<PersonCard Foto="../Person_placeholder_man.jpg" Organisatie="Florisoft"  ID="236" Functie="Backend developer" Email="JohnvanHulst@florisoft.nl"></PersonCard>*@
@if (persons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
    <div class="row">
            @foreach (var person in persons)
   {
      <div class="col-lg-4 mb-2">
         <PersonCard Foto=@person.Foto Organisatie=@person.Organisatie ID=@person.ID Functie=@person.Functie Email=@person.Email></PersonCard>
     </div>
   }  
   </div>
   </div>
}

@code {
    private PersonModel[]? persons;

    protected override async Task OnInitializedAsync()
    {
        persons = await PersonController.GetPersonsAsync();
    }
}