@page "/"
@using BlazorApp.Data;

<PageTitle>Index</PageTitle>

@if (persons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
    <div class="row">
            @foreach (var person in persons)
   {
      <div class="col-lg-4 mb-2">
         <PersonCard Foto=@person.Foto Organisatie=@person.Organisatie ID=@person.ID Functie=@person.Functie Email=@person.Email></PersonCard>
     </div>
   }  
   </div>
   </div>
}

@code {
    private PersonModel[]? persons;

    protected override async Task OnInitializedAsync()
    {
        persons = await PersonController.GetPersonsAsync();
    }
}